* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

canvas {
  background: #000000;
}

a {
  font-size: 20px;
  color: white;
  position: absolute;

  text-decoration: none;

 margin: 20px;
}